body{
	
	background-image: url(/FinalWeb09/admins/image/background5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.all{
	width: 1200px;
	height: auto;

	margin:0 auto;
}
.head{
	width: 1000px;
	height: 50px;
	
	margin:0 auto;
	text-align: center;
}
.add{
	width: 299px;
	height: 40px;
	
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #de54a9;
	
}
a{
	text-decoration: none;
}
a:hover{
	color:red;
	
}
.main .timkiem{
	width: 299px;
	height: 40px;
	
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main .timkiem #ip1{
	width: 258px;
	height: 31px;
	margin-right: 0px;
}

.main .timkiem #btn1{
	width: 37px;
	height: 37px;
	background-image: url("/FinalWeb09/admins/image/search.png");
	background-size: 35px 35px;
	margin-left: 0px;
	padding: 12px;
	float: right;
}
#ip1:hover{
	background: #adb0f7;
	border-bottom-color: #ed6d94;
}
#btn1:hover{
	border:3px solid #5c031e;
}
table{
	background-color: #d1ed77;
	margin:0 auto;
	width: 1100px;
	height: auto;
	margin-bottom: 50px;
	text-align: center;
}
#btn2{
	background: #d16d36;
}
#btn3{
	background: #ff8cd7;
}
#btn2 a:hover{
	color: white;
}
#btn3 a:hover{
	color: white;
}