<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>users</title>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
	<h1>Them Nguoi Dung</h1>
	<div id="content"></div>
	<form method="post" id="form-login">
		<div>
			<label>Name</label> <input name="name" type="text" placeholder="Name"
				required="required" />
		</div>
		<div>
			<label>Age</label><input type="number" name="age" placeholder="Age" />
		</div>
		<div>
			<label>Email</label><input type="text" name="email"
				placeholder="email" />
		</div>
		<div>
			<label>Phone</label><input type="number" name="phone"
				placeholder="phone" />
		</div>
		<div>
			<label>Gender</label> <select name="gender">
				<option value="Nam">Nam</option>
				<option value="Nữ">Nữ</option>
			</select>
		</div>
		<div>
			<label>Address</label> <input type="text" name="address"
				placeholder="address" />
		</div>
		<div>
			<label>Username</label><input type="text" name="username"
				placeholder="username" required="required" />
		</div>
		<div>
			<label>Password</label><input type="password" name="password"
				placeholder="password" required="required" />
		</div>
		<div>
			<label>Role</label> <select name="role">
				<option value="ROLE_MEMBER">ROLE_MEMBER</option>
				<option value="ROLE_ADMIN">ROLE_ADMIN</option>
			</select>
		</div>
		<div>
			<button type="submit">ADD</button>
		</div>
	</form>
	<script type="text/javascript">
$(document).ready(function()
{
    var submit = $("button[type='submit']");
     
    // bắt sự kiện click vào nút Login
    submit.click(function()
    {
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
         
        // Kiểm tra đã nhập tên tài khoản chưa
        if (username == '') {
            alert('Vui lòng nhập tài khoản');
            return false;
        }
         
        // Kiểm tra đã nhập mật khẩu chưa
        if (password == '') {
            alert('Vui lòng nhập mật khẩu');
            return false;
        }
         
        // Lấy tất cả dữ liệu trong form login
        var data = $('#form-login').serialize();
        // Sử dụng $.ajax()
        $.ajax({
        type : 'POST', //kiểu post
        url  : '/sinhvien/add', //gửi dữ liệu sang trang 
        data : data,
        
        
        success :  function(data)
               {
		             window.alert("add thanh cong");
		             window.location.reload();
               }
        });
        return false;
    });
});
</script>
</body>

</html>