body{
	background-image: url(/ThucHanhWeb2/client/image/background6.jpg);
}

.all{
	
	min-height: 700px;
	
	
	margin:0 auto;
}
.head{
	text-align: center;
	height: 100px;
	
	margin:0 auto;
}
.main{
	display: flex;
}
.image{
	width: 50%;
	min-height: 300px;
	
	
}
.d1{
	width: 400px;
	height: 400px;
	
	margin:0 auto;
}
.d1 #img{
	width: 400px;
	height: 400px;
}

.txt{
	width: 50%;
	min-height: 300px;
	
	font-size: 25px;
	text-align: left;
}
.button {
	margin:0 auto;
	width: 70%;
	margin-top: 15px;
}
.button a{
	margin:0 auto;
	
	width: 25%; 
}