body{
	background-image: url(/ThucHanhWeb2/client/image/background5.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
}

.all{
	width: 100%;
	margin:0 auto;
	
}
.head{
	width: 100%;
	height: 100px;
	
	display: flex;
}
.head .logo{
	width: 13%;
	height: 100px;
	background-image: url(/ThucHanhWeb2/client/image/logogiohang.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.head .search{
	width: 87%;


}
.head .search input{
	width: 50%;
	height: 30px;
	margin-top: 15px;
	margin-left: 10px;
}
.head .search input:hover{
	background: #b3fcc1;
	opacity: 0.7;

}
.head .search button{
	width: 30px;
	height: 30px;
	margin-top: 16px;
	margin-left:-4px;
}
.head .search img{
	width: 50px;
	height: 50px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	float :right;
	margin-top: 10px;
	margin-right: 10px;
}
.head .search img:hover{
	border: 2px solid red;
}
.head .search #a{
	
	margin-left: 7%;
}
.main{
	width: 80%;
	min-height: 500px;
	margin:0 auto;
	
	
}
.main-head{
	text-align: center;
	margin:0 auto;
	height: 40px;
	
	font-size: 25px;
}
.content{
	margin:0 auto;
	
	min-height: 400px;

}
.content table{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
	background: #86d194;
}
 th, td{
	border:1px solid black;
	margin-top: 5px;
}
.container{
	width:100%;
	margin:0 auto; 
}
#bt1{
	margin-left: 20%;
	width: 18%;
}
#bt2{
	margin-left: 22%;
	width: 18%;
}