body {
	background-image: url(/FinalWeb09/admins/image/backgroung3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.all {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	font-family: cursive;
}

.head {
	width: 998px;
	height: 55px;
	text-align: center;
}

.main {
	width: 420px;
	height: 504px;
	text-align: center;
	margin: 0 auto;
	background-color: #f2aa5c;
}

.name {
	width: 414px;
	height: 50px;
	padding-top: 6px;
	text-align: center;
	margin: 0 auto;
}

.name h2 {
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.name input {
	width: 300px;
	height: 28px;
	float: left;
	margin-top: 5px;
}

.age {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.age h2 {
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.age input {
	width: 300px;
	height: 28px;
	float: left;
	margin-top: 5px;
}

.gender {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.gender h2 {
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.gender .i {
	width: 300px;
	height: 30px;
	float: left;
	margin-top: 5px;
	font-size: 20px;
}

.role {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.role h2 {
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.role select {
	width: 300px;
	height: 32px;
	float: left;
	margin-top: 5px;
	font-size: 20px;
}

.address {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.address h2 {
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.address select {
	width: 300px;
	height: 32px;
	float: left;
	margin-top: 5px;
	font-size: 20px;
}

.username {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.username h2 {
	width: 120px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.username input {
	width: 278px;
	height: 28px;
	float: left;
	margin-top: 5px;
}

.password {
	width: 414px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.password h2 {
	width: 115px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.password input {
	width: 283px;
	height: 28px;
	float: left;
	margin-top: 5px;
}

input:hover {
	border-bottom: 2px solid red;
	background: #cae8e2;
}

select:hover {
	background: #cae8e2;
	color: #ed8677;
}

.btn {
	width: 420px;
	height: 40px;
	padding-top: 12px;
}

.btn button {
	width: 300px;
	height: 40px;
	font-size: 30px;
	margin: 0 auto;
	background-color: #db792e;
}

button:hover {
	background: #c955c2;
	color: #4ccf78;
}