<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="UTF-8">
<title>users</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<p>Danh sach users</p>
	<a th:href="@{/admin/user/add}">Add User</a>
	<div>
		<form th:action="@{/admin/user/search}" method="get">
			<label>Search:</label><input type="text" name="keyword" th:value="${keyword}" placeholder="nhap keyword" /> <input type="submit" value="search" />
		</form>
	</div>
	<table border="1">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Age</td>
			<td>Email</td>
			<td>Role</td>
			<td>Username</td>
			<td>Enable</td>
			<td>Gender</td>
			<td>Address</td>
			<td>Option</td>
		</tr>
		<tr th:each="user:${userList}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.role}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.enabled}"></td>
			<td th:text="${user.gender}"></td>
			<td th:text="${user.address}"></td>
			<td><a th:href="@{'/admin/user/update?id='+${user.id}}">Edit</a> | <a th:href="@{'/admin/user/delete?id='+${user.id}}">Delete</a>
			| <a th:href="@{'/admin/user/change-password?id='+${user.id}}">Change Password</a></td>
		</tr>
	</table>
	<div>
		<a class="btn btn-primary" th:href="@{'/admin/user/search?keyword=' + ${keyword} +'&page=' + ${page + 1}}">LOAD MORE</a>
	</div>
</body>
</html>